.cardContainer {
  background-color: #ffc09f;
  height: 200px;
  width: 350px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.recipeImage {
  height: 80%;
  width: 50%;
}

.recipeImage img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.recipeInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeInfo span {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
